%h2= t "liquid_templates"
%table.index
	%thead
		%tr
			%th{width:250}= t("name")
			%th= t("description")
	%tbody
		- LiquidThemeCollector.new(@liquid_theme).templates.each do |template|
			%tr{:id => dom_id(template)}
				%td= link_to_with_icon 'edit', template.name, edit_admin_liquid_theme_liquid_template_path(template)
				%td= template.description
