%h2= t "theme_assets"
= link_to_with_icon('edit', t('theme_asset.new'), new_admin_liquid_theme_theme_asset_path(@liquid_theme))
%table.index
	%thead
		%tr
			%th{width:250}= t("name")
			%th= t("file_type")
			%th= t("action")
	%tbody
		- @liquid_theme.theme_assets.each do |file|
			%tr{:id => dom_id(file)}
				%td= link_to_with_icon 'edit', file.source.url, edit_admin_liquid_theme_theme_asset_path(@liquid_theme, file) if file.source
				%td= file.content_type
				%td= link_to_delete file, :url=>admin_liquid_theme_theme_asset_path(@liquid_theme, file)