%h1= t("theme_asset.edit")
= form_for(@theme_asset, :url => object_url, :html => { :method => :put }) do |f|
	= render :partial => "form", :locals => { :f => f }
	- if @theme_asset.stylesheet_or_javascript?
		= render :partial => "/admin/liquid_templates/edit_resource_links"
	- else
		= render :partial => "/admin/shared/edit_resource_read_only"